
/* setting images position and width */
.card img {
    position: relative;
}

#burger {
    width: 110%;
    left: 1%;
}

#fries {
    width: 75%;
    left: 13%;
}

#pizza {
    width: 80%;
    left: 10%;
}

#bread {
    top: 5%;
}

/* card border and color set */
.card {
    background: radial-gradient(circle, rgb(210, 100, 30), rgb(233, 136, 45) 50%, rgb(255, 170, 100));
    border-radius: 55% 55% 40px 40px;
    transition: all 0.3s ease;
}

.image {
    height: 50%;
}

.card-body {
    height: 50%;
}

/* all hover effects handled here */
.card:hover {
    box-shadow: 1px 1px 20px rgb(193, 191, 191);
    border-radius: 20px 20px 40px 40px;
    background: radial-gradient(circle, rgb(210, 100, 30), rgb(233, 136, 45) 100%, rgb(255, 170, 100));
}

.card img{
    transition: all 0.3s ease;
}
.card:hover img {
    transform: scale(1.3);
}

.card:hover {
    cursor: pointer;
}